.spinner {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: relative;

    background: conic-gradient(#bababa 270deg, #5198f5 270deg);
    animation: cp-round-animate 1s ease-in-out infinite;
}

.spinner::after {
    content:'';
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 70%;
    width: 70%;
    border-radius: 50%;
}

@keyframes cp-round-animate {
    0% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(390deg);
    }
}